:root {
	--color1: #e5f9e0;
	--color5: #664147;
	--color2: #a3f7b5;
	--color3: #40c9a2;
	--color4: #2f9c95;
	--pagefont: "Lato", sans-serif;
}

body {
	max-width: 100vw;
	max-height: 100vh;
	color: var(--color4);
}

header {
	background-color: var(--color1);
}

footer {
	background-color: var(--color1);
}

.nav {
	font-size: large;
}

.card {
	background-color: var(--color1);
	width: 90%;
}

.hero img {
	max-width: 30vw;
}

.savedpetimageholder {
	max-width: 5rem;
	position: relative;
	padding-top: 5%;
	padding-left: 5%;
	margin-right: 2%;
}

.savedpetimageholder img {
	right: 0;
	margin-left: 1rem;
	border-radius: 5%;
}

.card-body {
	position: relative;
}

.savedhearticon {
	position: absolute;
	right: 0;
	padding-right: 1rem;
}

.form-check-input {
	position: relative;
}

#pet-type-choice {
	background-color: var(--color2);
	margin: 2%;
	padding: 2%;
	border-radius: 16px;
}

#logo {
	height: 10vh;
}

#petdetailcontainer {
	background-color: var(--color1);
	height: fit-content;
	border-radius: 3%;
}

#petdetailimg {
	border-radius: 3%;
}

#searchresults,
#savedpetslist {
	max-height: 500px;
}

#searcharea {
	color: var(--color5);
}

@media only screen and (min-width: 1200px) {
	.savedpetimageholder {
		margin-left: 1rem;
	}
}
